<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.css">
  <link rel="stylesheet" href="/css/typeWriter.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%= pageTitle %>
  </title>
  <script type="text/javascript" src="/js/typeWriter.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target="#mainNavbar" id="homeSection">
  <!--Navbar starts-->
  <%- include('./includes/navigation.ejs') %>
  <!--Navbar ends-->

  <div id="fullpage">
    <!-- remove fp-auto-height-responsive -->
    <section id="homeSection" class="section fp-auto-height-responsive">
      <div class="container h-100">
        <div class="row h-100 align-items-center" id="homeRow">
          <!--Typewriter starts-->
          <div class="col-sm col-md-8 my-3">
            <section id="typeWriter"></section>
          </div>
          <!--Typewriter ends-->
          <!--Card with form starts-->
          <div class="col-sm col-md-4">
            <ul class="nav nav-pills nav-justified" role="tablist">
              <li class="nav-item">
                <a href="#signupCard"
                  class="nav-link btn btn-dark rounded-0 <%= activeCard.includes('signup') ? 'active' : ''%>"
                  data-toggle="tab">Signup</a>
              </li>
              <li class="nav-item">
                <a href="#loginCard"
                  class="nav-link btn btn btn-dark rounded-0 <%= activeCard.includes('login') ? 'active' : ''%>"
                  data-toggle="tab">Login</a>
              </li>
            </ul>
            <div class="card text-center text-dark rounded-0" id="homeCard">
              <div class="tab-content">
                <div class="card-body tab-pane <%= activeCard.includes('signup') ? 'active' : ''%>" id="signupCard">
                  <h3>Sign up now!</h3>
                  <form action="/signup" method="POST">
                    <div class="form-group mt-4">
                      <input type="text" class="form-control" placeholder="Username" name="username"
                        value="<% if (locals.form) { %><%= locals.form.username %><% } %>" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" name="email"
                        value="<% if (locals.form) { %><%= locals.form.email %><% } %>" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" name="password"
                        value="<% if (locals.form) { %><%= locals.form.password %><% } %>" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                        required>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-dark">
                  </form>
                </div>
                <div class="card-body tab-pane <%= activeCard.includes('login') ? 'active' : ''%>" id="loginCard">
                  <h3>Login now!</h3>
                  <form action="/login" method="POST">
                    <div class="form-group mt-4">
                      <input type="text" class="form-control" placeholder="Username or Email" name="usernameOrEmail"
                        value="<% if (locals.form) { %><%= locals.form.usernameOrEmail %><% } %>" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                    <a class="text-dark" href="#" data-toggle="modal" data-target="#resetPasswordModal">
                      <strong>I forgot my credentials</strong>
                    </a>
                    <br><br>
                    <input type="submit" value="Login" class="btn btn-dark">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--Card with form ends-->
        </div>
      </div>
    </section>
    <!--Home Section ends-->

    <!--About Section starts-->
    <section id="aboutSection" class="section fp-auto-height-responsive">
      <div class="row h-100 mr-0" id="aboutRow">
        <div class="col-sm-6 d-none d-md-block px-0">
          <img src="/images/about.jpg" alt="" class="img-fluid" id="aboutImage">
        </div>
        <div class="col-sm-6 text-white align-self-center">
          <div class="container">
            <h2>About</h2>
            <p class="lead text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium vitae
              unde
              quo cum quis
              quia dolores reiciendis. Voluptatum cum, tempore doloremque praesentium earum rem quod dolorum eaque,
              deleniti nisi unde, quo vel accusantium labore harum hic consectetur sint beatae. Error repellendus
              exercitationem nemo similique eum dolore repudiandae labore totam voluptas.
            </p>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium vitae unde quo cum
              quis
              quia dolores reiciendis. Voluptatum cum, tempore doloremque praesentium earum rem quod dolorum eaque,
              deleniti nisi unde, quo vel accusantium labore harum hic consectetur sint beatae.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--About Section ends-->

    <!--Contact Section starts-->
    <section id="contactSection" class="section fp-auto-height-responsive">
      <div class="row h-75 mr-0 align-items-center">
        <div class="col-sm-6 col-md-6 text-white">
          <div class="container">
            <h2>Contact</h2>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium vitae unde quo cum
              quis
              quia dolores reiciendis. Voluptatum cum, tempore doloremque praesentium earum rem quod dolorum eaque,
              deleniti nisi unde, quo vel accusantium labore harum hic consectetur sint beatae. Error repellendus
              exercitationem nemo similique eum dolore repudiandae labore totam voluptas.
            </p>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium vitae unde quo cum
              quis
              quia dolores reiciendis. Voluptatum cum, tempore doloremque praesentium earum rem quod dolorum eaque,
              deleniti nisi unde, quo vel accusantium labore harum hic consectetur sint beatae.
            </p>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 offset-md-1">
          <div class="container pr-0">
            <div class="card text-center text-dark" id="contactCard">
              <div class="card-body">
                <h3>Feedback</h3>
                <form>
                  <div class="form-group mt-4">
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                  </div>
                  <input type="submit" value="Submit" class="btn btn-dark">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright footer -->
      <div class="row h-25 mr-0 align-items-end">
        <div class="col text-center text-white">
          <footer>
            <p>Codeception &copy; 2020</p>
          </footer>
        </div>
      </div>
    </section>
    <!--Contact Section ends-->
  </div>

  <!--Forgot Password modal starts-->
  <div class="modal" id="resetPasswordModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> Reset my credentials </h5>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form id="resetPasswordForm" method="POST" action="/reset">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username or Email" name="resetUsernameOrEmail"
              value="<% if (locals.form) { %><%= locals.form.resetUsernameOrEmail %><% } %>" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="resetPasswordForm" class="btn btn-dark">Reset password</button>
        </div>
      </div>
    </div>
  </div>
  <!--Forgot Password modal ends-->

  <script>
    $(document).ready(function () {
      const e = JSON.parse('<%- JSON.stringify(locals.error) %>');
      if (e.param === 'resetToken' || e.param === 'verificationToken') {
        alert(e.msg);
      } else {
        $(`[name='${e.param}']`).addClass('is-invalid');
        $(`[name='${e.param}']`).after(`<div class="invalid-feedback">
            ${e.msg}
          </div>`);
        if (e.param === 'resetUsernameOrEmail') {
          $('#resetPasswordModal').modal('show');
        }
      }
    });

  </script>

  <script type="text/javascript" src="/js/utilities.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>