<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>

  <!--Navbar starts-->
  <%- include('./includes/navigation.ejs') %>
  <!--Navbar ends-->

  <!--Main Section starts-->
  <section id="mainSection">
    <div class="container mt-5 p-4">
      <div class="mt-4">
        <!-- Profile Card -->
        <div class="card border-success text-center">
          <div class="card-header">
            <h5 class="card-title d-inline">My Profile</h5>
          </div>
          <div class="card-body">
            <img src="/images/profile.png" class="rounded-circle" id="profileImage"><br>
            <span class="mt-2 card-text lead">Username : <%= user.username %></span><br>
            <span class="lead">E-mail : <%= user.email %></span><br>
          </div>
        </div>
        <!-- Submissions Card -->
        <div class="card border-success mt-4 text-center">
          <div class="card-header">
            <h5 class="card-title d-inline">My Submissions</h5>
          </div>
          <div class="card-body">

            <ul class="list-group">
              <% solvedProblems.forEach(solvedProblem => { %>
              <li class="list-group-item">
                <span class="float-left"><%= solvedProblem.name %></span>
                <span class="badge badge-primary badge-pill float-right">10</span>
                <span class="badge badge-primary badge-pill float-right mr-2">Javascript</span>
              </li>
              <% }) %>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!--Main Section ends-->




  <!-- <section id="mainSection">
      <div class="container mt-5 p-4">
        <span class="text-white" id="welcomeText">Welcome back, User. What do you want to do?</span>
        <div class="mt-4">
          <div class="card border-success text-center">
            <div class="card-header">
              <h5 class="card-title d-inline">Programming Playground</h5>
            </div>
            <div class="card-body">
              <p class="card-text lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nulla nihil, nesciunt laborum temporibus
                sapiente, impedit maxime minus voluptas enim quae excepturi! A aut iure aperiam et ad eos! Dolores.
              </p>
              <a href="#" class="btn btn-success">Take me there</a>
            </div>
          </div>
          <div class="card border-success mt-4 text-center">
            <div class="card-header">
              <h5 class="card-title d-inline">Problem Solving</h5>
            </div>
            <div class="card-body">
              <p class="card-text lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quisquam quasi tempore omnis quis deserunt
                nesciunt magnam iusto, quibusdam assumenda ratione, maiores optio. Aut, nam?
              </p>
              <a href="#" class="btn btn-success">Let's go</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>